@namespace PlannerApp.Components

@*<MudText Typo="Typo.h4">My Plans</MudText>*@

<MudIconButton Icon="@Icons.Material.Filled.GridView" Disabled="_isCardsViewEnabled" OnClick="setCardView" Color="Color.Secondary"></MudIconButton>
<MudIconButton Icon="@Icons.Material.Filled.TableView" Disabled="@(!_isCardsViewEnabled)" OnClick="setTableView" Color="Color.Secondary"></MudIconButton>

<div class="m-4">
    @if (_isCardsViewEnabled)
    {
        <PlanCardList FetchPlans="GetPlansAsync"
                      OnEditClicked="EditPlan"
                      OnDeleteClicked="DeletePlanAsync"/>
    }
    else
    {
        <PlansTable OnEditClicked="EditPlan" 
                    OnDeleteClicked="DeletePlanAsync"/>
    }
</div>