@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    [CascadingParameter] public Error Error { get; set; }
    private void IncrementCount()
    {
        try
        {
            currentCount++;
            if (currentCount == 3)
                throw new ArgumentOutOfRangeException("current Count inferieur a 3 svp");
        }   
        catch (ArgumentException e)
        {
            Error.HandleError(e);            
        }
        
    }
}
