@page "/"
@attribute [Authorize]

<PageTitle>Home | PlannerApp</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-2">
    <h1 class="text-danger">Hello, Planner App!</h1>
    <hr />
    <AuthorizeView>
        <Authorized>
            <h2>Welcome @context.User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value</h2>
        </Authorized>
    </AuthorizeView>
</MudContainer>